.jumbotron{
    background-color: yellow;
    color: black;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn{
    color: white;
    background-color: green;
    width: 100%;
    border-radius: 0%;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    
}

.btn-reserva{
    width: 100%;
    
}

.accordion .btn{
        color: goldenrod;
        background-color: #fff;
        width: 100%;
        border-radius: 5%;
}

.btn.btn-success{
    width: 150px;
    border-radius: 5%;
}