$yellow: #c1c750;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px,0px)
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px,0px)
}

.btn{
    color: white;
    background-color: green;
    width: 100%;
    border-radius: 0%;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    
}

.btn-reserva{
    width: 100%;
    
}

.accordion .btn{
        color: goldenrod;
        background-color: #fff;
        width: 100%;
        border-radius: 5%;
}

.btn.btn-success{
    width: 150px;
    border-radius: 5%;
}